table.calendar {
  border: 1px slategrey solid;
     
}
/* Settings for the control menu */
table.calendar-control {
     width: 100%;
     text-align: center;
     
}
/* This changes the select month and select year drop down menus */
table.calendar-control-select {  
}

tr.calendar-row {  
}
td.calendar-day, td.calendar-weekend-day, td.calendar-current-day {
     height:97px;
     font-size:11px;
     position:relative;
     vertical-align: top;
     line-height: 5px; /* This determins the space that will  space out the events on the calendar */
}
* html div.calendar-day, div.calendar-weekend-day, div.calendar-current-day {
     height:70px;
}
/* This alters the headings (the days of the week) Change the colour and background for those here */
td.calendar-day-head {
     background:#FFFFFF;
     color: #000;
     font-weight:bold;
     text-align:center;     
     border-bottom:1px solid #999;
     border-top:1px solid #999;
     border-right:1px solid #999; 
}
/* Change these colours to alter the respective portion of the calendar */
td.calendar-day    {
    
     background-color: #FAFAFA;

}
td.calendar-weekend-day    {
     background-color: #CFCFCF;
}
td.calendar-current-day    {
     background-color: #ECEFF5;
}
/* These colours are for the mouse over effects on the calendar 
td.calendar-day:hover {
     background:#ECEFF5;
}
td.calendar-weekend-day:hover {
     background:#D7DADF;
}
td.calendar-current-day:hover {
     background:#E5E7ED;
}*/
/* background colour of the blank dates */
td.calendar-day-np {
     background:#EEE;
     min-height:100px;
}
* html div.calendar-day-np {
     height:70px; }
/* This alters the number dates of the calendar */
div.calendar-day-number {
     position: relative;
     padding:0;
     color:#000;
     float:right;
     margin: 0;
     font-size: 14px;
     font-weight:bold;
     width:100%;
     text-align:right;
     line-height: normal;
     background: #a8d4e6;
     border-bottom:1px solid #7cb0c6;
     border-top:1px solid #7cb0c6;
     border-right:1px solid #7cb0c6;
     border-left: 1px solid #7cb0c6;

}
/* This alters the text section for events on the calendar. */
div.calendar-text {
     color:#111;    
}
div.calendar-text a {
     color: #111;
     text-decoration: none;
}
div.calendar-text a:hover {
     color: #333;
     text-decoration: underline;
}
/* shared */
td.calendar-day,td.calendar-current-day, td.calendar-weekend-day, td.calendar-day-np {
     width: 14%;
/*     padding:5px; */
     border-bottom:1px solid #999;
     border-right:1px solid #999;
}



div.calendar-lista_act    {
     overflow:auto;
     height: 83px;     
     position: relative;
     float:right;
     line-height: normal;
    
     position: relative;
     padding:0;
     color:#000;
     float:right;
     margin: 0;
     width:100%;
     text-align:left;
     line-height: normal;

     
     
     
     

}

div.calendar-lista_act_items    {
     padding: 0;
     margin-top: 0;
     margin-right: 0;
     margin-left: 0;
     margin-bottom: 4px;
     font-size: 13px;
     background-color: #f5f5f5;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;

}

span.color_act{
  padding: 0px 15px 0px 0px;
  /* margin: 4px 0px 0px 4px; */
  
    
    
    
}
